.global-map-container {
  width: 100vh;       
  height: 100vh;      /* full viewport height (or use 100% of parent if preferred) */
  
  
  background: #fdfcfc; /* subtle fallback background */
  z-index: 0;
}